<launch>
    <node name="ardrone_driver" pkg="ardrone_autonomy" type="ardrone_driver" />

    <!-- Use this format for adding nodes -->

    <node name="label_for_node" pkg="package_name" type="node_name.py"/>

    <group ns="ardrone/front">
    <node name="image_proc" pkg="image_proc" type="image_proc" />
    </group>
</launch>
