<launch>

    <node name="Joy" pkg="joy" type="joy_node" output="screen"/>
    <node name="XBox" pkg="xboxcontroller" type="control.py" output="screen" />

    <group ns="ardrone/front">
        <node name="image_proc" pkg="image_proc" type="image_proc" />
    </group>
    
   <node name="IMU_parser" pkg="particlefilter" type="imu_movement.py" output="screen"/>
    
    <node name="ar_pose" pkg="ar_pose" type="ar_multi" output="screen">
        <remap from="/usb_cam/camera_info" to="ardrone/front/camera_info" />
        <remap from="/usb_cam/image_raw" to="ardrone/front/image_rect" />
        
        <param name="marker_pattern_list" type="string" value="$(find ar_pose)/data/marker_79_only"/>
		<param name="threshold" type="int" value="100"/>
    
    </node>

    <node name="Particle_Filter" pkg="particlefilter" type="particlefilter.py" output="screen">
        <param name="map_path" type="string" value="$(find particlefilter)/maps/single_live.map" />
        <param name="translation_noise" type="double" value="0.02" />
        <param name="rotation_noise" type="double" value="0.05" />
        <param name="marker_noise" type="double" value="0.2" />
    </node>

   <node name="Dead_Reckon" pkg="deadreckon" type="deadreckon.py" output="screen">
        <param name="rotZ_offset" type="double" value="0.0" />
    </node>

</launch>
