<launch>
    <node name="ardrone_driver" pkg="ardrone_autonomy" type="ardrone_driver" />
    <group ns="ardrone/front">
        <node name="image_proc" pkg="image_proc" type="image_proc" />
    </group>
    <node name="ar_pose" pkg="ar_pose" type="ar_multi">
        <remap from="/usb_cam/camera_info" to="ardrone/front/camera_info" />
        <remap from="/usb_cam/image_raw" to="ardrone/front/image_rect" />
    </node>
</launch>
